<h1>Facebook login</h1>

<div class="container">
  <div id="friends_data">
    <p id='connect'>
    <a data-facebook-login class="btn btn-primary" href="#">
      Login using Facebook
    </a>
    </p>
  </div>
</div>
<div id="friends_template">
  <div class="list-group-item">
    <div class="row">
      <div class='col-md-3'>
        <img src="%%picture_url%%"/>
      </div>
      <div class='col-md-5'>
        <div class='row'>
          %name%
        </div>
      </div>
    </div>
</div>
